.devcontainer/dev.env
.DS_Store
web/cypress/screenshots/
web/cypress/export-env.sh
web/screenshots/
web/cypress/videos/
web/dist/
web/node_modules/
plugin-backend
# adding these while the PR is in review. This should be removed after
node_modules/
dist/