.expanded-details-text-margin {
  margin-left: 2px;
}

.incidents__tooltip-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.incidents__tooltip {
  background-color: var(--pf-t--global--background--color--inverse--default);
  border-radius: var(--pf-t--global--border--radius--small);
  color: var(--pf-t--global--text--color--inverse);
  font-size: 12px;
  overflow-x: hidden;
  padding: 10px;
}

.incidents__tooltip-arrow {
  border-left: 12px solid transparent;
  border-top: 12px solid var(--pf-t--global--background--color--inverse--default);
  border-right: 12px solid transparent;
  height: 0;
  margin-top: -1px;
  width: 0;
}

.incidents-page-main-section.pf-v6-c-page__main-section {
  gap: 0;
}