$font-size-base: 14px !default;

.monitoring__project-dropdown {
  margin-right: 20px;
  max-width: 60%;
}

.pf-v5-c-menu.monitoring__project-dropdown__menu {
  // Position is to ensure that the dropdown doesn't push content down when opened
  // Especially on the /topology/ns/[project]?view=graph page
  position: absolute;

  // This allows the menu to be longer than the menu toggle
  // Currently PatternFly does not support a min width on the menu component
  --pf-v5-c-menu--MinWidth: 210px;
  @media (min-width: --pf-v5-global--breakpoint--md) {
    --pf-v5-c-menu--MinWidth: 325px;
  }
}

// The PatternFly switch is displayed to the left of the label
// The design for the project/project drop down has the switch to
// the right of the label.  These styles allow for the variance to the
// normal PatternFly display.
// Tracked in https://github.com/patternfly/patternfly-react/issues/6059

.monitoring__project-dropdown__switch {
  .pf-v5-c-switch__label {
    padding-right: 60px; // Ensure switch doesn't land on top of text
  }

  .pf-v5-c-switch__toggle {
    position: absolute;
    right: 0;
  }
}

.monitoring__project-bar {
  border-bottom: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  padding: 0 24px;
  white-space: nowrap;

  @media (min-width: var(--pf-v5-global--breakpoint--xl)) {
    padding-left: var(--pf-v5-global--gutter--md);
    padding-right: var(--pf-v5-global--gutter--md);
  }

  &__items {
    align-items: center;
    display: flex;

    .pf-m-plain {
      color: inherit;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.monitoring__project-bar--no-project {
  padding-left: var(--pf-v5-global--spacer--sm);
  @media screen and (max-width: var(--pf-v5-global--breakpoint--xl)) {
    margin-left: -0.5rem;
  }
}
