// Duplicate of co-code
.monitoring__code {
  --monitoring__code--BackgroundColor: var(--pf-v5-global--palette--blue-50);
  --monitoring__code--Color: var(--pf-v5-global--palette--light-blue-600);

  background-color: var(--monitoring__code--BackgroundColor);
  color: var(--monitoring__code--Color);
  padding: 3px var(--pf-v5-global--spacer--xs);

  :where(.pf-v5-theme-dark) & {
    --monitoring__code--BackgroundColor: var(--pf-v5-global--palette--blue-700);
    --monitoring__code--Color: var(--pf-v5-global--palette--light-blue-100);
  }
}
