{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": true,
      "dynamicImport": true,
      "decorators": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2021",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": true,
    "preserveAllComments": true
  },
  "module": {
    "type": "es6",
    "strict": false,
    "noInterop": false
  },
  "minify": false,
  "sourceMaps": true
}
